.jumbotron img{
	width: 200px;
	border: 5px solid white;
}

hr{
	width: 250px;
	border-top: 3px solid black;
}

section{
	min-height: 900px;
}

.portfolio{
	background-color: #DEB887;
}


.jumbotron img{
	width: 200px;
	border: 5px solid white;
}

hr{
	width: 250px;
	border-top: 3px solid black;
}

section{
	min-height: 900px;
}

.portfolio{
	background-color: #DEB887;
	padding-top: 10px;
}

.form label {
	float: left;
}

.contact{
	background-color: aliceblue;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	font-family: 'Raleway', sans-serif;
	background: #000;
}
.background{
	background: url(asset/A_.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
}
.text, .box{
	margin-top: 45vh;
	flex: 1;
}
.text{
	margin-left: 10%;
	font-weight: 300px;
}
.box{
	margin-left: 25%;
}
.text h1{
	font-size: 70px;
	color: #fff;
	font-weight: 500;
}
.text p{
	font-size: 20px;
	color: #fff;
	font-weight: 300;
}
.text p a{
	color: #aaa;
	font-weight: 700;
}
.form{
	background: transparent;
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 250px;
}
input{
	margin: 20px 0;
	padding: 10px;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.username, .password{
	border-bottom: 1px solid #fff;

}
.button{
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	
}
.button:hover{
	background: #000;
	color: #fff;
	opacity: 50%;
}